* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0 5%;
    background-color: #edefee;
}

header {
    margin-top: 20px;
}

header>img {

    width: 100%;
    display: block;
    margin: 0 auto;
}

ul {
    text-align: center;
    padding-top: 2.5%;
}
li>a{
    color: black;
    font-size: 3rem;
    font-weight: 700;
}

li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
li a:hover {
    color: chocolate;
    opacity: 70%;
}




nav>ul>li {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    
    padding: 10px 20px;
}

li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}



.card-img {
    transition: transform 1.2s ease;
}
 .card-img:hover {
    transform: scale(1.05);
  }

.banner {
    margin: 30px 0px;
    background-image: url('../assets/banner.png');
    background-repeat: no-repeat;
    padding: 20px;
    object-fit: contain;
    object-position: bottom;
    background-size: cover;
    border-radius: 10px;
}

.banner>h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
    padding: 20px;
}

.banner>p {
    color: #fff;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
}

.content {
    margin: 20px 0;
    display: flex;
    gap: 2%;
}

.content>article {
    margin-top: 20px;
    margin-bottom: 10px;
    flex: 1;
}

article h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 600;

}

.card-img {
    border-radius: 5px;
    width: 100%;

}

footer {
    margin-top: 50px;
    background-color: rgb(199, 145, 145);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    color: #fff;
}

.footer-logo {
    width: 25%;
}

footer>div {
    flex: 1;
}

.footer-text {
    padding-top: 10px;
    font-size: 1.2rem;
    border-top: 2px solid wheat;
}

@media screen and (max-width: 576px) {
    .content {
        flex-direction: column;
        gap: 10px;
    }

    .footer-logo {
        width: 50%;
    }

    .banner>p {

        width: 100%;
    }

}